#card-metric-display {
  height: 80%;
  width: 100%;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plot {
  margin: auto auto;
  padding: 0;
  display: flex;
  align-self: center;
  /* box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75) */
}